In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("biat.csv")

In [3]:
df.columns

Index(['Date Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [4]:
df["average"]=(df.High+df.Low)/2

In [5]:
df

      Date Time  Open  High   Low  Close  Volume  Adj Close  average
0    2016-01-21  6.10  6.10  6.10   6.10     250       6.10    6.100
1    2016-01-22  5.95  6.05  5.93   6.05    2569       6.05    5.990
2    2016-01-25  5.78  5.99  5.78   5.90    9990       5.90    5.885
3    2016-01-26  5.78  5.99  5.73   5.78   12260       5.78    5.860
4    2016-01-27  5.78  5.78  5.74   5.74    1194       5.74    5.760
..          ...   ...   ...   ...    ...     ...        ...      ...
257  2020-12-25  2.10  2.10  2.04   2.05   26369       2.05    2.070
258  2020-12-28  2.04  2.05  1.98   2.00   56140       2.00    2.015
259  2020-12-29  2.02  2.02  1.98   2.02   22534       2.02    2.000
260  2020-12-30  2.04  2.04  1.98   2.01    1383       2.01    2.010
261  2020-12-31  2.03  2.03  1.98   2.01   13982       2.01    2.005

[262 rows x 8 columns]

In [9]:
df_test = df[['Close',"Open",'average']]

In [10]:
df_test

     Close  Open  average
0     6.10  6.10    6.100
1     6.05  5.95    5.990
2     5.90  5.78    5.885
3     5.78  5.78    5.860
4     5.74  5.78    5.760
..     ...   ...      ...
257   2.05  2.10    2.070
258   2.00  2.04    2.015
259   2.02  2.02    2.000
260   2.01  2.04    2.010
261   2.01  2.03    2.005

[262 rows x 3 columns]

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_test[['Close',"Open"]], df_test[['average']], test_size=.2)

In [12]:
from sklearn.linear_model import LinearRegression
# Create Regression Model
model = LinearRegression()
# Train the model
model.fit(X_train, y_train)

LinearRegression()

In [13]:
y_pred=model.predict(X_test)

In [14]:
y_test.reset_index(drop=True,inplace=True)

In [15]:
for i in range(len(y_pred)):
    print("la valeur predit  de moyenne est " + str(y_pred[i])+" contre "+str(y_test.iloc[i]))

la valeur predit  de moyenne est [0.56843421] contre average    0.57
Name: 0, dtype: float64
la valeur predit  de moyenne est [8.17801232] contre average    8.19
Name: 1, dtype: float64
la valeur predit  de moyenne est [7.54358403] contre average    7.555
Name: 2, dtype: float64
la valeur predit  de moyenne est [7.08969386] contre average    7.235
Name: 3, dtype: float64
la valeur predit  de moyenne est [-0.00080285] contre average    0.0
Name: 4, dtype: float64
la valeur predit  de moyenne est [8.09440595] contre average    8.105
Name: 5, dtype: float64
la valeur predit  de moyenne est [7.86393476] contre average    7.875
Name: 6, dtype: float64
la valeur predit  de moyenne est [8.33802074] contre average    8.35
Name: 7, dtype: float64
la valeur predit  de moyenne est [7.91420171] contre average    7.915
Name: 8, dtype: float64
la valeur predit  de moyenne est [0.57853211] contre average    0.59
Name: 9, dtype: float64
la valeur predit  de moyenne est [2.16168884] contre average    2.165
Name: 10, dtype: float64
la valeur predit  de moyenne est [1.85693014] contre average    1.885
Name: 11, dtype: float64
la valeur predit  de moyenne est [2.09694278] contre average    2.08
Name: 12, dtype: float64
la valeur predit  de moyenne est [-0.00080285] contre average    0.0
Name: 13, dtype: float64
la valeur predit  de moyenne est [-0.00080285] contre average    0.0
Name: 14, dtype: float64
la valeur predit  de moyenne est [6.50564381] contre average    6.505
Name: 15, dtype: float64
la valeur predit  de moyenne est [5.57083802] contre average    5.58
Name: 16, dtype: float64
la valeur predit  de moyenne est [0.48854129] contre average    0.485
Name: 17, dtype: float64
la valeur predit  de moyenne est [6.01214106] contre average    6.02
Name: 18, dtype: float64
la valeur predit  de moyenne est [8.77149251] contre average    8.775
Name: 19, dtype: float64
la valeur predit  de moyenne est [8.75790375] contre average    8.77
Name: 20, dtype: float64
la valeur predit  de moyenne est [8.90592229] contre average    8.905
Name: 21, dtype: float64
la valeur predit  de moyenne est [-0.00080285] contre average    0.0
Name: 22, dtype: float64
la valeur predit  de moyenne est [0.58324719] contre average    0.585
Name: 23, dtype: float64
la valeur predit  de moyenne est [0.57830953] contre average    0.58
Name: 24, dtype: float64
la valeur predit  de moyenne est [2.09638632] contre average    2.11
Name: 25, dtype: float64
la valeur predit  de moyenne est [7.46918523] contre average    7.48
Name: 26, dtype: float64
la valeur predit  de moyenne est [0.5685455] contre average    0.57
Name: 27, dtype: float64
la valeur predit  de moyenne est [-0.00080285] contre average    0.0
Name: 28, dtype: float64
la valeur predit  de moyenne est [6.35046176] contre average    6.22
Name: 29, dtype: float64
la valeur predit  de moyenne est [8.79618082] contre average    8.79
Name: 30, dtype: float64
la valeur predit  de moyenne est [7.77249713] contre average    7.785
Name: 31, dtype: float64
la valeur predit  de moyenne est [-0.00080285] contre average    0.0
Name: 32, dtype: float64
la valeur predit  de moyenne est [9.28181151] contre average    9.295
Name: 33, dtype: float64
la valeur predit  de moyenne est [6.22679764] contre average    6.235
Name: 34, dtype: float64
la valeur predit  de moyenne est [4.60247024] contre average    4.63
Name: 35, dtype: float64
la valeur predit  de moyenne est [7.92856952] contre average    7.94
Name: 36, dtype: float64
la valeur predit  de moyenne est [8.66141716] contre average    8.675
Name: 37, dtype: float64
la valeur predit  de moyenne est [1.66224679] contre average    1.69
Name: 38, dtype: float64
la valeur predit  de moyenne est [0.50357686] contre average    0.505
Name: 39, dtype: float64
la valeur predit  de moyenne est [1.97665823] contre average    1.98
Name: 40, dtype: float64
la valeur predit  de moyenne est [-0.00080285] contre average    0.0
Name: 41, dtype: float64
la valeur predit  de moyenne est [-0.00080285] contre average    0.0
Name: 42, dtype: float64
la valeur predit  de moyenne est [0.51861242] contre average    0.52
Name: 43, dtype: float64
la valeur predit  de moyenne est [2.04645324] contre average    2.04
Name: 44, dtype: float64
la valeur predit  de moyenne est [9.23087681] contre average    9.24
Name: 45, dtype: float64
la valeur predit  de moyenne est [2.07136413] contre average    2.06
Name: 46, dtype: float64
la valeur predit  de moyenne est [7.46918523] contre average    7.48
Name: 47, dtype: float64
la valeur predit  de moyenne est [-0.00080285] contre average    0.0
Name: 48, dtype: float64
la valeur predit  de moyenne est [5.40566935] contre average    5.41
Name: 49, dtype: float64
la valeur predit  de moyenne est [8.28808767] contre average    8.325
Name: 50, dtype: float64
la valeur predit  de moyenne est [-0.00080285] contre average    0.0
Name: 51, dtype: float64
la valeur predit  de moyenne est [8.86370919] contre average    8.88
Name: 52, dtype: float64

In [16]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
# Printout relevant metrics
print("Mean Squared Error:",mean_squared_error(y_test,y_pred))
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred))
print("Coefficient of Determination:", r2_score(y_test, y_pred))

Mean Squared Error: 0.0008481808531221801
Mean Absolute Error: 0.013054058864171134
Coefficient of Determination: 0.9999340605791981